// Color Variables
$primary-color: #ef5e4e;
$white-color: #ffffff;
$green-color: #38ae43;
$dark-green-color: #104227;
$info-color: #3b97ba; 
$blue-color: #4b8df8;
$simple-text-color: #2d383f;
$red-color: #ef5e4e;

// Font Variables
$primary-font: 'Open Sans', sans-serif;